<div class="topbar-container">
  <div class="topbar-box">

    <div class="logo-container">
      <a class="logo" routerLink="/"> <img src="assets/logo/tms_logo_trans.png" alt="logo"></a>
    </div>

    <div class="nav-list">
      <a routerLink="/">      {{ 'Home'   | titlecase }} </a>
      <a href="#footer-container">      {{ 'Contact'| titlecase }} </a>
      <a href="#email-container"> {{ 'Email Template'  | titlecase }} </a>
      <a routerLink="/video">      {{ 'Video Player'   | titlecase }} </a>
      <!-- <a routerLink="/"> {{ 'HOME' }} </a>
      <a routerLink="/"> {{ 'HOME' }} </a> -->
    </div>

  </div>
</div>