.topbar-container{
  position: relative;
  width: 100%;
  background-color: black;
}

.topbar-box{
  width: 100%;

  div{
    display: inline-flex;
    vertical-align: middle;
  }
}

.logo-container{
  width: 25%;
  padding-left: 5%;
  .logo{
    img{
      width: 130px;
      height: 130px;
    }
  }
}


.nav-list{
  position: relative;
  justify-content: end;
  width: 65%;
  padding-right: 5%;
  text-align: center;
  a {
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  a::after{
    content: "";
    display: block;
    background-color: white;
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    border-bottom: 1px solid white;

  }
  a:hover::after{
    transform: scaleX(1); /* Gradually expand the border-bottom */
  }

}


@media screen and (max-width: 600px) {
  .logo-container{
    padding: 0;
    display:block !important;
    width: 100%;
    text-align: center;
  }

  .nav-list{
    width: 100%;
    padding-right: 0;
    justify-content: center;

  }

  
}

@media screen and (max-width: 380px) {
  .nav-list{
    a{
      font-size: 15px;
    }

  }

}
@media screen and (max-width: 310px) {
  .nav-list{
    a{
      font-size: 10px;
    }

  }

}