<div class="home-container">
  <div class="home-box">

    <div class="section-container first">

      <div class="title-box">
        <div class="title-list">
          <p> {{'Backend'       | uppercase}} </p>
          <p> {{'Web Developer' | uppercase}} </p>
          <p> {{'Frontend'      | uppercase}} </p>
        </div>
      </div>

      <div class="content-box">
        <div class="content-list">
          <p> {{'Keep Coding'     | titlecase}}</p>
          <p> {{'Keep Learning'   | titlecase}}</p>
          <p> {{'Keep Exploring'  | titlecase}}</p>
        </div>
      </div>

    </div>

    <div class="section-container second">

      <div class="column first">
        <div class="title-box">
          <div class="title-list">
            <p> {{'Backend'       | uppercase}} </p>
          </div>
        </div>

        <div class="content-box">
          <div class="content-list">
            <p> {{'Php'           | uppercase}}</p>
            <p> {{'Laravel'       | uppercase}}</p>
            <p> {{'MySql'         | uppercase}}</p>
            <p> {{'ASP.NET C#'    | uppercase}}</p>
            <p> {{'Python'        | uppercase}}</p>
            <p> {{'C Language'    | uppercase}}</p>
            <p> {{'Java'          | uppercase}}</p>
          </div>
        </div>
      </div>

      <div class="column second">
        <div class="title-box">
          <div class="title-list">
            <p> {{'Frontend'      | uppercase}} </p>
          </div>
        </div>

        <div class="content-box">
          <div class="content-list">
            <p> {{'Html'        | uppercase}}</p>
            <p> {{'Css'         | uppercase}}</p>
            <p> {{'Javascript'  | uppercase}}</p>
            <p> {{'Angular'     | uppercase}}</p>
          </div>
        </div>
      </div>

    </div>

    <div id="email" class="section-container third">
      <div class="column first">
        <img src="assets/email/mothers_day_trans.png">
      </div>

      <div class="column second">
        <p>{{ 'Html Email Template'                     | titlecase }}</p>
        <p>{{ 'Responsive Email'                        | titlecase }}</p>
        <p>{{ 'Compatible Across Email Clients'         | titlecase }}</p>
        <a routerLink="/emailtemplate">{{ 'More Emails' | uppercase }}</a>
      </div>

    </div>
    
    <!-- 
    <div class="section-container second">
      <table>
        <thead class="title-box">
          <tr class="title-list">
            <th> {{'backend'       | uppercase}} </th>
            <th> {{'frontend'      | uppercase}} </th>
          </tr>
        </thead>

        <tbody class="content-box">
          <tr class="content-list">
            <td> {{'keep coding'     | titlecase}} </td>
            <td> {{'keep coding'     | titlecase}} </td>
          </tr>
        </tbody>
      </table>
    </div> -->
</div>

